.color {
  background: linear-gradient(45deg, #c434f4, #4c95e5, #4c95e5,#28b5e2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero-img{
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1.2) rotate(190deg);
    opacity: 0.8;
}
.hero-img-left{
    position: absolute;
    left: -14rem;
    top: 0;
    /* animation: 10s rotation infinite; */
}
@keyframes rotation {
    0%{
        transform: scale(1.2) rotate(0deg);
    }   
    50%{
        transform: scale(1.5) rotate(200deg);
    }
    100%{
        transform: scale(1.2) rotate(360deg);
    }   
}
.hero-img-1{
    position: absolute;
    left: 25%;
    top: 20%;
    transform: scale(2.5) rotate(190deg);
    animation: 2s glow ease-in-out infinite;
    z-index: 0;
}
@keyframes glow {
    0%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.55;
    }
    100%{
        opacity: 0.4;
    }
}